* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#word {
  margin-top: 4rem;
  font-size: 3rem;
  color: darkcyan;
}

.fade {
  animation: fade 8s;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

div {
  background: #2db34a;
  border-radius: 6px;
  cursor: pointer;
  height: 150px;
  line-height: 95px;
  text-align: center;
  transition-property: border-radius;
  transition-duration: 1s;
  transition-timing-function: linear;
  width: 150px;
}

div:hover {
  border-radius: 50%;
}

div {
  background: #2db34a;
  height: 95px;
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;
  width: 95px;
}
div:hover {
  background: #ff7b29;
}
